* { box-sizing: border-box; }
img { max-width: 100%; }
body {
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 18px;
  color: #101010;
  background-color: #fff;
  line-height: 1.4;
}

h1, h2 {
  display: inline-block;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  /*color: rgb(102,104,142);*/
}

.address {
  color: #333;
  font-family: monospace;
  font-size: 18px;
}

