* { box-sizing: border-box; }
img { max-width: 100%; }
body {
  background: url(hexagonal-pattern.jpg);
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 18px;
  color: #101010;
  line-height: 1.4;
  margin: 0;
}

h1, h2 {
  display: inline-block;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0;
}

p {
  margin: 10px 0;
}

body > div {
  transform: scale3d(0.5, 0.5, 0.5);
  transform-origin: 0 0;
}

.wallet-pair {
  width: 1300px;
  padding: 50px;
  /*page-break-inside: avoid;*/
  overflow: hidden;
}

.wallet-pair:nth-child(3n) {
  margin-top: 100px;
}

.wallet {
  overflow: hidden;
}

.address {
  color: #999;
  font-family: monospace;
  font-size: 18px;
  word-wrap: break-word;
}

.content-box {
  float: left;
  width: 320px;
}

.content-middle {
  float: left;
  margin-top: 100px;
}

.box-public-address h2 {
  margin-left: 55px;
  letter-spacing: 2px;
}

.box-private-key h2 {
  margin-left: 80px;
  letter-spacing: 2px;
}

.box-logo {
  margin-right: 15px;
}

.logo-caption {
  margin-top: -5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  font-weight: 300;
  font-family: "Helvetica Neue";
  letter-spacing: 12px;
}
