* { box-sizing: border-box; }
img { max-width: 100%; }
body {
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 18px;
  color: #101010;
  background-color: #fff;
  line-height: 1.4;
}

h1, h2 {
  display: inline-block;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0;
}

p {
  margin: 10px 0;
}

.address {
  color: #999;
  font-family: monospace;
  font-size: 18px;
  word-wrap: break-word;
}

.content-box {
  float: left;
  width: 320px;
}

.box-public-address h2 {
  margin-left: 68px;
}

.box-private-key h2 {
  margin-left: 90px;
}

.box-logo {
  float: left;
  margin-top: 70px;
}
